body {
  margin: 0;
  padding: 0;
}

#container {
  overflow: hidden!important;
  position: absolute;
  background-color: #000;
  min-width: 100%;
  min-height: 100%;
  right: 0;
  bottom: 0;
}

video.fsvideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-wrapper {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
